<% layout("/layouts/boilerplate.ejs") %>

<div class="body">
  <div style="margin-left: 2rem">
    <div class="searchResultsPg">
      <h2 style="color: rgb(144, 144, 214)">
        Search Results for "<%= query %>"
      </h2>
      <br />
      <div>
        <% if (eventResults.length > 0) { %>
        <h3 style="color: rgb(144, 144, 214)">Events</h3>

        <ul> 
          <% eventResults.forEach(event => { %>
          <li>
            <a href="/Listings/<%= event._id %>">
              <div class="card" style="width: 18rem">
                <p><%= event.name %></p>

                <img
                  src="<%= event.image.url %>"
                  class="card-img-top1"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    <b>Date: &nbsp;</b><%= new
                    Date(event.date).toLocaleDateString('en-IN', { weekday:
                    'short', year: 'numeric', month: 'long', day: 'numeric' })
                    %>
                  </p>
                </div>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p>No events found.</p>
        <% } %>
      </div>
      <div>
        <% if (clubResults.length > 0) { %>
        <h3 style="color: rgb(144, 144, 214)">Clubs</h3>

        <ul>
          <% clubResults.forEach(club => { %>
          <li>
            <%= club.name %>
            <a href="/club/<%= club._id %>">
              <div class="card" style="width: 18rem">
                <p><%= club.name %></p>

                <img
                  src="<%= club.image.url %>"
                  class="card-img-top1"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text"></p>
                  <p class="card-text">
                    <strong>Organizer:</strong> &nbsp;<%= club.organizer %>
                  </p>
                </div>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
       <% } %>
      </div>
    </div>
  </div>
</div>
