<% layout("/layouts/boilerplate.ejs") %>
<body> 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="show text-center" style="border: 0.5rem solid rgb(254, 251, 251); padding: 2rem; background-color: rgb(144, 144, 214) !important;">
          <h3><b><%= club.name %></b></h3>
          <p>Owned By <b><i><%= club.owner.username %></i></b></p>

        <%  if(club.Updated_at && club.Updated_at.length > 0) { %>
            <p>Updated At: <b><i><%= club.Updated_at %></i></b></p>

       <%   } %>
          <img src="<%= club.image.url %>" class="img-fluid mb-3" />
          <div class="card-body">
            <p class="card-text"><strong>Meeting Time:</strong>&nbsp; <%= club.meetingTime %></p>
            <p class="card-text"><strong>Location:</strong> &nbsp;<%= club.location %></p>
            <p class="card-text"><strong>Description:</strong> &nbsp;<%= club.description %></p>
            <p class="card-text"><strong>Organizer:</strong> &nbsp;<%= club.organizer %></p>
            <% if(currUser && currUser._id.equals(club.owner._id)) { %>
            <a href="/club/<%= club._id %>/editClub"><button class="btn btn-light btn-block mb-2">Edit</button></a><br>
            <a href="/club/<%= club._id %>/deleteClub"><button class="btn btn-light btn-block mb-2">Delete</button></a><br>
            
            
            <% } %>


             
            <% if(userIsClubParticipant) { %>
             <button class="btn btn-light btn-block" disabled> Already Joined</button>
              <% } %>
            <% if(!userIsClubParticipant) { %>
            <a href="/participate/club/<%= club._id %>"><button class="btn btn-light btn-block">Join</button></a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br />
  </div>
</body>
